{% extends 'admin/base.html.twig' %}

{% block htmlHead %}
<script>console.log('test');</script>
{% endblock %}

{% block body %}
    <h2>{{ plugin.name }}</h2>
    <h3>{{ plugin.version }}</h3>
{% endblock %}
