[AUTOUPDATE]
VERSION=0.2.3

# Download URL of the ZIP Archive
ARCHIVEURL=https://github.com/moay/loxberry-php-base-plugin/archive/master.zip

# URL for further information about this release
INFOURL=https://github.com/moay/loxberry-php-base-plugin/releases
